@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

@font-face{
	font-family: "BebasNeue-Regular";
	src: url(../../fonts/BebasNeue-Regular.ttf);	
}
@font-face{
	font-family: "Caviar Dreams";
	src: url(CaviarDreams.ttf);
}
html, body {
    height: 100%;
 
    font-family: 'BebasNeue-Regular','Poppins', sans-serif;
 
	
}

/*---Media Queries --*/
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}
*{
	scroll-behavior: smooth;
}

/*---Navbar---*/
.navbar {
color:  #f4eeff;
	width: 100%;
	z-index: 10;
	position: fixed;
    padding: .1rem;
    background-color: #140025;
}
.navbar-toggler {
    color: #fff !important;
}
.navbar-nav li {
	
    padding-right: 20px;
}
.nav-link {
    font-size: 30px;
}
.active {
    padding: 2px !important;
    background-color: #0c056d;
    border-radius: 10px;
    font-size: 30px;	
}
.active:hover {
	color: #f4eeff;
	background-color: #08053b !important;
	transition: .2s;
}
nav ul li a {
	
	color: #f4eeff !important;
}
nav ul li a:hover {
    color: #6639a6 !important;
    background-color: #f4eeff;
	transition: .2s;
}

.image{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.image img {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
	pointer-events: none;	
}

.button2 {
	
	scroll-behavior: smooth;
	margin-top: 20px;
	position: relative;
	padding: 15px 30px;
	color: #3b94d1;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 20;
	overflow: hidden;
	transition: 0.2s;
}


.button2:hover{
	background: #f4eeff;
	color: #08053b;
	box-shadow: 0 0 10px #f4eeff,0 0 40px #f4eeff,0 0 80px #f4eeff;
	transition-delay: .1s;
}
.intro a {
scroll-behavior: smooth;
	padding-right: 30px;
	text-decoration: none;
	font-family: "BebasNeue-Regular";
	letter-spacing: 5px;
	font-size: 20px;
	margin: 0 10px;
color: #3b94d1;
}

#page1 {
	background-image: linear-gradient(#140025 50%,#4d008f);
	text-align: center;	
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#page1 div {
	position: relative;
	width: 100%;
	height: 100vh;
	scroll-behavior: smooth;
}
.intro{
	position: absolute;
	top: 25%;
	left: 0;
	transform: translate(-50%,-50%);	
}
.intro h1{
	letter-spacing: 10px;
	margin: 0;
	padding:0;
	font-size: 3.5em;
	text-transform: uppercase;
	 color: #f4eeff;
}
.intro p{
	line-height: 2em;
	color: #f4eeff;
	letter-spacing: 10px;
	font-family: 'Caviar Dreams', Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
#page2{
	text-align: center;	
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
	background-image: linear-gradient(#4d008f 5%,#140025 50%);
	color:#f4eeff;
}
#page2 div{
	position: relative;
	width: 100%;
	height: 100vh;
	scroll-behavior: smooth;
}

.des h1{
	margin-top: 250px;
}
.des p{
	padding: 1em;
	color: #f4eeff;
	text-align: center;	
	display: block;
	max-width: 1000px;
	margin: 0 auto 1em;
	height: 200px;
	position: relative;
	border-right: .2em;
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif"
	
}
.des img{
	opacity: .2;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(-30%,-30%);	
}
footer {
    background-color: #161616;
    color: #fff;
}

.font-con-color {
    color: hsl(113, 97%, 46%);
    margin-top: 20px;
}

.light {
    background-color: #fff;
}
